{
   "servers":[  
      {  
         "name":"Server 1",
         "address":"http://testserver1.com",
         "interval":2
      },
      {  
         "name":"Server 2",
         "address":"http://testserver2.com",
         "interval":10
      }
   ]
}