Data=<SearchRequest><LoginDetails><Login>{{ .Login }}</Login><Password>{{ .Password }}</Password><AgentReference></AgentReference></LoginDetails><SearchDetails><ArrivalDate>{{ .CheckInDate }}</ArrivalDate><Duration>1</Duration><RegionID>{{ .RegionId }}</RegionID><MealBasisID>0</MealBasisID><MinStarRating>0</MinStarRating><Resorts></Resorts><RoomRequests><RoomRequest><Adults>2</Adults><Children>0</Children><Infants>0</Infants></RoomRequest></RoomRequests></SearchDetails></SearchRequest>